# Configuración para HTTP: redirecciona a HTTPS
server {
    listen 8081;
    server_name tu.dominio.com;
    return 301 https://$host:444$request_uri;
}

# Configuración para HTTPS
server {
    listen 444 ssl;
    server_name tu.dominio.com;
    
    root /var/www/custom;
    index index.html index.htm;

    ssl_certificate /etc/nginx/ssl/tu_certificado.crt;
    ssl_certificate_key /etc/nginx/ssl/tu_llave.key;
    ssl_trusted_certificate /etc/nginx/ssl/ca_bundle.crt;
    
    location / {
        try_files $uri $uri/ =404;
    }
    
    # Puedes agregar otras directivas o ubicaciones según necesites
}
