# Configuración para HTTP en el puerto 8081, redirigiendo a HTTPS
server {
    listen 8081;
    server_name tu.dominio.com;
    return 301 https://$host:444$request_uri;
}

# Configuración para HTTPS en el puerto 444
server {
    listen 444 ssl;
    server_name tu.dominio.com;

    ssl_certificate     /etc/nginx/ssl/tu_certificado.crt;
    ssl_certificate_key /etc/nginx/ssl/tu_llave.key;

    root /var/www/custom;
    index index.html index.htm index.php;

    location / {
        try_files $uri $uri/ =404;
    }

    # Soporte para PHP (si usas PHP-FPM)
    location ~ \.php$ {
        fastcgi_pass PHP-FPM:9000;  # Ajusta según la configuración de PHP-FPM
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}
